services:
  backend:
    container_name: backend
    image: gradle:9.1.0-jdk21-corretto
    working_dir: /app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/app_db
      SPRING_DATASOURCE_USERNAME: app_user
      SPRING_DATASOURCE_PASSWORD: app_password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - ./backend/src:/app/src
      - ./backend/build.gradle:/app/build.gradle
      - ./backend/settings.gradle:/app/settings.gradle
      - ./backend/.gradle:/app/.gradle
      - ./backend/gradlew:/app/gradlew
      - ./backend/gradle/wrapper:/app/gradle/wrapper
    command: sh -c "./gradlew bootRun --continuous"

  frontend:
    image: node:22-alpine
    working_dir: /app
    container_name: frontend
    ports:
      - "3000:5173"
    depends_on:
      - backend
    networks:
      - app-network
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host"

  db:
    image: mariadb:11
    container_name: mariadb
    restart: always
    environment:
      MARIADB_DATABASE: app_db
      MARIADB_USER: app_user
      MARIADB_PASSWORD: app_password
      MARIADB_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
